/.idea/
/.ipynb_checkpoints/
/__pycache__/
/sources/__pycache__/
/venv/
/dataset/
/full.csv
/new-full-gt.csv
/weights.csv
/feature_extractor/
/feature_extractor/__pycache__/
/rpn/versions/
/rpn/__pycache__/
/tests/
