# Directories
/dataset/
/.ipynb_checkpoints/
/venv/
/.idea/
/__pycache__/
/sources/__pycache__/
/full.csv
/new-full-gt.csv
/weights.csv
/feature_extractor/
/feature_extractor/__pycache__/
/rpn/versions/
/rpn/__pycache__/
/tests/
